.routes {
  border: 1px solid orange;
  display: flex;
  flex-grow: 1;
}
.accordion {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* .accordion-header {
  display: flex;
  flex-grow: 1;
  color: red;
} */
/* .accordion-header > button {
  display: flex;
  justify-content: space-between;
} */
/* .accordion-header > button::after {
  content: "";
  display: flex;
  margin-left: auto;
} */
.accordion-button/* ::after */ {
  content: "";
  color: purple;
  font-weight: bold;
}
.collapsed {
  color: blue;
  font-weight: bold;
}
.Accordi > li > a {
  margin-bottom: 10px;
  color: red;
}
