a {
  display: block;
}
.DropMenu {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
}
.DropMenu > ul {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
  width: 100%;
  padding: 10px 100px 10px 50px;
  max-width: 1280px;
  border: 2px solid red;
  margin: 0 auto;
}
.DropMenu > ul > li {
  position: relative;
  display: flex;
  /* display: flex; */
  text-align: center;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  font-weight: 600;
}

.subMenu {
  visibility: hidden;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  border: 1px solid #bbb;
  background-color: white;
  z-index: 10;
}
.DropMenu > ul > li:hover > a {
  color: #08abb9;
}
.subMenu li a {
  display: block;
  padding: 15px 20px;
  transition: all 0.3s;
  /* margin-top: 10px; */
  /* border: 1px solid red; */
}
.subMenu li:not(:last-child) a {
  border-bottom: 1px solid #bbb;
}

.subMenu li a:hover {
  background-color: gray;
  color: white;
}
.DropMenu > ul > li:hover .subMenu {
  /* top: 100%; */
  visibility: visible;
  max-height: 300px;
}

/* .modalBtn {
  display: block;
}
 */

/* modal window */
