* {
  box-sizing: border-box;
  word-break: keep-all;
}

/* body {
  display: flex;
  margin: 0;
  padding: 4rem 2rem;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.article {
  max-width: 40rem;
}

.title {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  word-spacing: 2px;
  overflow: hidden;
}

.text {
  margin: 0;
  font-size: 1.25rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s 0.5s ease-in;
}

.article.show .text {
  opacity: 1;
  transform: translateY(0);
}

.letter {
  opacity: 0;
  transform: translateY(100%);
}

.article.show .letter {
  display: inline-block;
  opacity: 1;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
