.ToggleText {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.textBox {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
}

.textBox.open {
  max-height: 400px;
}

.ToggleText > button {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 16px 20px 18px;
}
.ToggleText > button > span {
  margin-left: auto;
  margin-top: 3px;
}

.ToggleText button:hover {
  background-color: lightblue;
}

button:focus {
  outline: none;
}

.arrow.up {
  transform: rotate(180deg);
}

.arrow {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease-in-out;
  background: url(/public/arrow.png) no-repeat center/cover;
}

.textBox > ul > li > a {
  display: block;
  font-size: 16px;
  padding: 12px 16px 12px 20px;
  font-weight: 500;
  color: #4b4b4b;
}
.textBox > ul > li > a:hover {
  background-color: lightblue;
}
